@charset "UTF-8";

h1,h2,h3,div,nav,body,title,html,nav,article,header { /* CSS reset removes inconsistencies that occur across browsers */
    margin: 0px;
    padding: 0px;
}
strong {
    text-decoration: none;
}
body {
    background-color: #fffff0;
    font-family: 'Barlow', 'sans-serif', 'Lucida Sans'; /* Sets the font for all text on the page. 'Barlow' is imported via google API */
}
div.outer { /* Sets the outer container, mainly aesthetic but also contains the main title */
    height: 100%;
    background-color: #F0E1CE;
    border: none;
    margin: 0px 90px 0px 90px;
    min-width: 450px; /* Stops the contianer collapsing to small making everything unreadable */
}
div.inner { /* Sets the inner container were most content can be found */
    background-color: #faebd7;
    margin: 50px 0px 50px 0px;
    border: 1px solid #fffff0;
    height: 750px;
    overflow-wrap: break-word; /* Allows for works to be broken up, so text fits in its contanier */
    position: relative;
}
img {
    margin: 10px 20px 15px 20px;
}
p {
    margin: 10px; /* Keeps text away from the edges of containers so theres no overlap */
}
h1 {
    text-align: center;
    padding-top: 5%;
    color: #373737;
}
h2 {
    text-align: center;
    padding-top: 10px;
}
h2.underlinedTitle { /* An underlined and  more padded version of h2 for current studies */
    border-bottom: 2px solid #fffff0;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 0px; /* Removes margin meaning that the artciles border can reach the headings border */
}
h3 {
    text-align: center;
    padding-top: 10px;
}
ul#aboutmelist {
padding-left: 330px;
}
nav { /* Start of the CSS that styles the navigation bar */
    background-color: #faebd7;
    border: 2px solid #fffff0 ;
    padding-top: 6px;
    margin-left: -1px; /* -1px stops borders overlaping which looks messy */
    margin-top: -1px;
    width: 100%;
}
nav ul {
    list-style: none;   /* Removes the defualt list styling (bullet point's) */
    padding-left: 0px;
}
nav ul li {
    padding: 23px 20px 13px 20px;
    display: inline; /* Removes the line breaks putting the list elements on one row */
}
nav ul li a {
    text-decoration: none;
    color: #373737;
}
nav ul li:hover {       /* Sets colour and underline for list elements when been hovered over */
    background-color: #F0E1CE;
    border-bottom: 5px solid #3F2A2A;
}
nav ul li #CurrentLink {
    text-decoration: underline; /* Through id on pages allows underlining of the page currently being visted */
}
article {   /* Start of the article styling Articles have been used alot to group and style text/images */
    position: absolute;
    padding-left:10px; /*so text doesnt hit side making its more readable */
}
article.personalArticle {
    width: 50%;
}
article#secondArticle { /* Postions the articles*/
    margin-left:50%;
    margin-top: 150px;
}
article#thirdArticle {  /* Didnt include the related images in the articles as it would have lead to more CSS */
    margin-top: 340px;
}
img#first {             /* Couldnt get this to work another way so individually positioned the 3 images */
    margin-left:62%;
    margin-top: 20px;
}
img#second {
    margin-left:20%;
    margin-top: 40px;
}
img#third {
    margin-left:72%;
    margin-top: 10px;
}
article.studiesLeft {
    border-right: 2px solid #fffff0;
    width: 49%; /* Should really be 50% but this allows for better readabilty */
}
aside.studiesRight {    /* splits the page into two sections */
    width: 50%;
    float: right;
}
article ol {
    padding-left: 300px;
}
article#homepage {
    width:68%; /* Rest of width is the info aside */
}
aside#info ul li {
    padding-bottom: 20px; /* Makes the list elements more readable */
}
aside#info {
    float: right; /* puts the aside to the side of the article */
    margin-right: -1px;
    margin-top: -1px;
    border: 2px solid #fffff0;
    height: 600px; /* height of the aside needs to match article so the border doesnt go into the footer */
    width: 30%;
}
aside p {
    padding-left: 10px;
}                           /* Both make text in the side bar more readable */
aside table {
    padding-left: 15%;
}
footer { /* Start of footer styling */
    position: absolute;
    bottom: 0; /* Puts it at the bottom of the page */
    height: 100px;
    width: 100%;
    margin: -1px;
    border: 2px solid #fffff0 ;
    border-bottom: none;
    background-color: #F0E1CE;
}
footer address {
    padding-left: 25%; /* Postions text in footer */
    padding-right: 15%;
}
footer p {
    float: left; /* Allows images to be postioned to the right of the text */
    margin-bottom: 0px;
}
footer a img {
    padding: 30px 3%;
}
footer address p#SocialMedia {
    font-size: 0;   /* Hides the text for social media contact as the screen is large enough to display the images */
}
@media screen and (max-width:1185px){ /* Start of media querys, this allows the website to scale to diffrent viewports */
    ul {
        margin: 0px;
    }
    p {
        margin-bottom: 0px;
    }
}
@media screen and (max-width:1220px) { /* The main purpose of this media query is to re-style the nav bar to fit the page */
    nav ul li {
        border-bottom: none;
        display: block; /* No longer inline now ontop of each other */
        text-align: center;
        margin-left: 0px;
        padding-left: 0px;
    }
    nav ul {
        margin-top: -6px; /* evens out the elements of the smaller nav bar */
        margin-bottom: 0px;
    }
    nav ul li:hover {
        border-bottom: none; /* aesthetic change stops underline when hovered over */
    }
    div.inner {
        font-size: 98%; /* font scaling to new screen size */
        width: 100%;
        height: 1100px; /* increased length so theres more room for content */
    }
    article#second {            /* Following are changes to positioning of articles and images */
        margin-top: 170px;
    }
    img#second {
        margin-left:20%;
        margin-top: 60px;
    }
    article#third {
        margin-top: 400px;
    }
    img#third {
        margin-left:72%;
        margin-top:70px;
    }
    article.studiesLeft {
        height: 400px;
    }
    aside#info {
        height: 700px; /* More room for content but also means the border will continue */
    }
     footer address {
        padding-left: 0px; /* Makes more room in the footer so theres no overflow */
    }
}
@media screen and (max-width:943px) {
    div.inner {
        height: 1600px; /* increased length so theres more room for content */
        width: 100%;
        font-size: 92%; /* font scaling to new screen size */
    }
    div.outer {
        margin: 0px 60px 0px 60px; /* Removes some whitespace on each side making more room for content */
    }
    aside#info {
        width: 100%; /* makes the aside fit across the page  */
        height: 440px;
    }
    article#homepage {
        padding-top: 450px; /* gives the info bar room above this article */
        width: 100%; /* takes up full width info bar now above */
    }
    aside.studiesRight { /* studiesRight and studiesLeft now go over each other rather than aside */
        width: 100%;
    }
    article.studiesLeft {
        border-top: 2px solid #fffff0; /* places a border between the content */
        width: 100%;
        margin-top: 495px; /* Allows for studiesRight to go over */
    }
    article p {
        margin-right: 10px;
    }
    article.personalArticle {        /* Following are changes to positioning of articles and images */
        position: relative;
        width: 100%; /* Articles can now take up full width */
        height: 150px;
        padding-top: 50px;
    }
    article#secondArticle {
        margin-left: 0px;
    }
    article#thirdArticle {
        margin-top: 170px;
    }
    img.personalImage {
        margin-top: 0px; /* was previously used for postioning no longer needed so set to 0 */
    }
    img#first {
        margin-left: 26%;
    }
    img#second, img#third  {
        margin-left: 42%;
    }
    footer {
        height: 125px;
    }
    footer address a img { /* hides the social media icons page to small */
        height: 0px;
        width: 0px;
    }
    footer address p#SocialMedia {
        font-size: 100%; /* shows the social media text instead of images */
        padding-right: 20%;
    }
}
@media screen and (max-width:680px) {
    img#first {
        margin-left: 18%; /* Slight adjustment's to center image properly */
        margin-top: 50px;
    }
}
